body{
    background-color:aliceblue;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1{
    text-align: center;
}

li{
    list-style:none;
}

#campo-tareas{
    width: 70%;
}

.tarea{
    font-size: 20px;
}

.container{
    width: 80%;
    margin: 0 auto;
    margin-top: 5%;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 15px 15px rgb(206, 213, 219);
    padding: 5%;
    background-color: #eefdff;
}